.rootCont {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10vh;
}
.rootCont h1 {
  /* color: rgb(64, 112, 244); */
  /* border-bottom: 3px solid rgb(64, 112, 244); */
  /* color: rgb(8, 111, 143); */
  color: rgb(0, 49, 64);
  /* border-bottom: 3px solid rgb(8, 111, 143); */
  width: 95px;
  margin: 0 auto;
}
.rootCont > p {
  font-size: 40px;
  font-weight: 400;
}
.mainCont {
  display: grid;
  grid-template-columns: 50% 50%;
  color: rgb(14, 36, 49);
  font-size: 20px;
}
.mainCont > div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: left !important;
}
.mainCont > div > h2 {
  margin: 0px;
}
/* .mainCont > div > h2 > span {
  color: rgb(8, 111, 143);
} */
.profilePicCont {
  /* background-color: rgb(194, 195, 201); */
}
.profilePic {
  width: 70%;
  margin: auto;
  /* border: 2px solid black; */
  background-color: rgb(194, 195, 201);
  border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
  .mainCont {
    display: flex;
    flex-direction: column;
  }
  .mainCont > div {
    text-align: center !important;
  }
  .profilePicCont {
    padding: 30px;
  }
}
